/* User list. */
.email-addr {
  display:inline-block;
  *display:inline;
  *zoom:1;
  padding:1px 2px 1px 6px;
  margin: 1px 4px 1px 0px;
  font-size:14px;
  line-height:20px;
  text-align:center;
  cursor:default;
  vertical-align:middle;
  color:#333333;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
  background-color:#f5f5f5;
  background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color:#e6e6e6 #e6e6e6 #bfbfbf;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color:#e6e6e6;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border:1px solid #cccccc;
  *border:0;
  border-bottom-color:#b3b3b3;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  *margin-left:.3em;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  }
.email-addr:hover,.email-addr:focus,.email-addr:active,.email-addr.active,.email-addr.disabled,.email-addr[disabled] {
  color:#333333;
  background-color:#e6e6e6;
  *background-color:#d9d9d9;
  }
.email-addr:active,.email-addr.active {
  background-color:#cccccc \9;
  }
span.email-close {
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
}
span.email-add {
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
}
span.email {
  padding-right: 10px;
}
form tbody td {
  vertical-align: top;
}
